{

  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
      "no-unused-vars": [1, { "varsIgnorePattern": "[iI]gnored" }],
      "indent": ["error", 2],
      "space-before-function-paren": 0,
      "quotes": 0,
      "padded-blocks": 0,
      "arrow-body-style": 0
  },
  "env": {
      "jest": true
  }
}
